@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f0f0f0;
  color: #000000;
  overflow-x: hidden;
}